# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# PyInstaller — archivos temporales de compilacion
build/
*.spec.bak

# La carpeta dist NO se sube a git.
# El ejecutable se distribuye como Release en GitLab.
dist/

# IDEs
.vscode/
.idea/
*.sublime-project

# Sistema
Thumbs.db
.DS_Store
desktop.ini
